In [ ]:
#
print('ello')

In [ ]:
INPUT = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
    (4.9, 2.5, 4.5, 1.7, 'virginica'),
    (7.1, 3.0, 5.9, 2.1, 'virginica'),
    (4.6, 3.4, 1.4, 0.3, 'setosa'),
    (5.4, 3.9, 1.7, 0.4, 'setosa'),
    (5.7, 2.8, 4.5, 1.3, 'versicolor'),
    (5.0, 3.6, 1.4, 0.3, 'setosa'),
    (5.5, 2.3, 4.0, 1.3, 'versicolor'),
    (6.5, 3.0, 5.8, 2.2, 'virginica'),
    (6.5, 2.8, 4.6, 1.5, 'versicolor'),
    (6.3, 3.3, 6.0, 2.5, 'virginica'),
    (6.9, 3.1, 4.9, 1.5, 'versicolor'),
    (4.6, 3.1, 1.5, 0.2, 'setosa'),
]

In [ ]:
header = INPUT[0]

In [ ]:
print(header)

In [ ]:
output = list()

In [ ]:
output.append(list(INPUT[2]))
output.append(list(INPUT[6]))
output.append(list(INPUT[9]))

In [ ]:
output.append(tuple(INPUT[12]))
output.append(tuple(INPUT[15]))
output.append(tuple(INPUT[16]))

In [ ]:
output.append(set())

In [ ]:
print(output)

In [ ]:
a = (0,1,2,3)

In [ ]:
b = [2,3,4,5]

In [ ]:
c = set()
c.update(a[::2])
c.update(tuple(b[::2]))

In [ ]:
print(c)

In [ ]:
INPUT = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
    (4.9, 2.5, 4.5, 1.7, 'virginica'),
    (7.1, 3.0, 5.9, 2.1, 'virginica'),
    (4.6, 3.4, 1.4, 0.3, 'setosa'),
    (5.4, 3.9, 1.7, 0.4, 'setosa'),
    (5.7, 2.8, 4.5, 1.3, 'versicolor'),
    (5.0, 3.6, 1.4, 0.3, 'setosa'),
    (5.5, 2.3, 4.0, 1.3, 'versicolor'),
    (6.5, 3.0, 5.8, 2.2, 'virginica'),
    (6.5, 2.8, 4.6, 1.5, 'versicolor'),
    (6.3, 3.3, 6.0, 2.5, 'virginica'),
    (6.9, 3.1, 4.9, 1.5, 'versicolor'),
    (4.6, 3.1, 1.5, 0.2, 'setosa'),
]

In [ ]:
header = INPUT[:1]

In [ ]:
print(header)

In [ ]:
data = INPUT[1:]

In [ ]:
print(data)

In [ ]:
point = int(len(data)*0.6)

In [ ]:
print(point)

In [ ]:
features = data[:point]

In [ ]:
labels = data[point:]

In [ ]:

INPUT = (
    5.8, 2.7, 5.1, 1.9, 'virginica',
    5.1, 3.5, 1.4, 0.2, 'setosa',
    5.7, 2.8, 4.1, 1.3, 'versicolor',
    6.3, 2.9, 5.6, 1.8, 'virginica',
    6.4, 3.2, 4.5, 1.5, 'versicolor',
    4.7, 3.2, 1.3, 0.2, 'setosa',
)

In [ ]:
mynewset =

In [ ]:
print(test)

In [ ]:
INPUT = '10.13.37.1      nasa.gov esa.int roscosmos.ru'

In [ ]:
ip,*hosts = INPUT.split()

In [ ]:
ip

In [ ]:
hosts

In [ ]:
INPUT: list = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
    (4.9, 2.5, 4.5, 1.7, 'virginica'),
    (7.1, 3.0, 5.9, 2.1, 'virginica'),
    (4.6, 3.4, 1.4, 0.3, 'setosa'),
    (5.4, 3.9, 1.7, 0.4, 'setosa'),
    (5.7, 2.8, 4.5, 1.3, 'versicolor'),
    (5.0, 3.6, 1.4, 0.3, 'setosa'),
    (5.5, 2.3, 4.0, 1.3, 'versicolor'),
    (6.5, 3.0, 5.8, 2.2, 'virginica'),
    (6.5, 2.8, 4.6, 1.5, 'versicolor'),
    (6.3, 3.3, 6.0, 2.5, 'virginica'),
    (6.9, 3.1, 4.9, 1.5, 'versicolor'),
    (4.6, 3.1, 1.5, 0.2, 'setosa'),
]

In [ ]:
header,*records = INPUT

In [ ]:
print(header)

In [ ]:
print(records)

In [ ]:
mydict = {"A": "Alfa",
"B": "Bravo",
"C": "Charlie",
"D": "Delta",
"E": "Echo",
"F": "Foxtrot",
"G": "Golf",
"H": "Hotel",
"I": "India",
"J": "Juliet",
"K": "Kilo",
"L": "Lima",
"M": "Mike",
"N": "November",
"O": "Oscar",
"P": "Papa",
"Q": "Quebec",
"R": "Romeo",
"S": "Sierra",
"T": "Tango",
"U": "Uniform",
"V": "Victor",
"W": "Whisky",
"X": "X-Ray",
"Y": "Yankee",
"Z": "Zulu"}

In [ ]:
print(mydict.get("A"))

In [ ]:
number = input('wpisz licze: ')

In [ ]:
int(number)%2 == 0

In [ ]:
myset = set()
myset.update(1)

In [ ]:
age = input('podaj wiek: ')

In [ ]:
age_mod2 = int(age)%2
if age_mod2 != 0 :
    print(f'twoj wiek to: {age}')

In [ ]:
INPUT = (2, 3, 3.5, 4, 4.5, 5)
print(len(INPUT))

In [ ]:
i=0
grades = []
while i <len(INPUT):
    grad = float(INPUT[i])
    grades.append(grad)
    i+=1

In [ ]:
print(grades)

In [ ]:
journal = []
while True:
    user_grade = input('podaj ocene: ')
    if not user_grade:
        break
    user_grade = float(user_grade)
    if user_grade in grades:
        journal.append(user_grade)
    else:
        print(f'grade not allowed')

In [ ]:
print(journal)

In [ ]:
mean = sum(journal)/len(journal)

In [ ]:
print(mean)

In [4]:
INPUT = [1, 4, 6, 7, 4, 4, 4, 5, 1, 7, 0,
         0, 6, 5, 0, 0, 9, 7, 0, 4, 4, 8,
         2, 4, 0, 0, 1, 9, 1, 7, 8, 8, 9,
         1, 3, 5, 6, 8, 2, 8, 1, 3, 9, 5,
         4, 8, 1, 9, 6, 3]

In [9]:
OUTPUT = dict()
for number in INPUT:
    #print(number)
    if number in OUTPUT:
        OUTPUT[number] += 1
    else:
        OUTPUT[number] = 1

In [10]:
print(OUTPUT)

{1: 7, 4: 8, 6: 4, 7: 4, 5: 4, 0: 7, 9: 5, 8: 6, 2: 2, 3: 3}

In [11]:
INPUT = [1, 4, 6, 7, 4, 4, 4, 5, 1, 7, 0,
         0, 6, 5, 0, 0, 9, 7, 0, 4, 4, 8,
         2, 4, 0, 0, 1, 9, 1, 7, 8, 8, 9,
         1, 3, 5, 6, 8, 2, 8, 1, 3, 9, 5,
         4, 8, 1, 9, 6, 3]

In [18]:
groups = dict()
for number in INPUT:
    
    if 0 <= number <= 2:
        if 'small' in groups:
            groups['small'] += 1
        else:
            groups['small'] = 1
    elif 3 <= number <= 7:
        if 'medium' in groups:
            groups['medium'] += 1
        else:
            groups['medium'] = 1

In [19]:
print(groups)

{'small': 16, 'medium': 23}

In [20]:
TEXT = "We choose to go to the Moon. We choose to go to the Moon in this decade and do the other things. Not because they are easy, but because they are hard. Because that goal will serve to organize and measure the best of our energies and skills. Because that challenge is one that we are willing to accept. One we are unwilling to postpone. And one we intend to win"

In [21]:
TEXT

'We choose to go to the Moon. We choose to go to the Moon in this decade and do the other things. Not because they are easy, but because they are hard. Because that goal will serve to organize and measure the best of our energies and skills. Because that challenge is one that we are willing to accept. One we are unwilling to postpone. And one we intend to win'

In [22]:
text_splitted = TEXT.split('.')

In [23]:
text_splitted

['We choose to go to the Moon',
 ' We choose to go to the Moon in this decade and do the other things',
 ' Not because they are easy, but because they are hard',
 ' Because that goal will serve to organize and measure the best of our energies and skills',
 ' Because that challenge is one that we are willing to accept',
 ' One we are unwilling to postpone',
 ' And one we intend to win']

In [37]:
new_text = dict()
total_number_of_words = 0
total_number_of_letters = 0
for row in text_splitted:
    sentence = row.strip()
    new_text[row.strip()] = 0
    words = row.strip().split(' ')
    new_text[sentence] = len(words)
    total_number_of_words += len(words)
    total_number_of_letters +=

In [38]:
new_text

{'We choose to go to the Moon': 7,
 'We choose to go to the Moon in this decade and do the other things': 15,
 'Not because they are easy, but because they are hard': 10,
 'Because that goal will serve to organize and measure the best of our energies and skills': 16,
 'Because that challenge is one that we are willing to accept': 11,
 'One we are unwilling to postpone': 6,
 'And one we intend to win': 6}

In [39]:
print(f'sentences num: {len(new_text)}')

sentences num: 7

In [40]:
print(f'total number of words {total_number_of_words}')

total number of words 71

In [42]:
new_text = dict()
total_number_of_words = 0
total_number_of_letters = 0
for sentence in TEXT.split('.'):
    new_text[sentence.strip()] = 0
    words = sentence.strip().split(' ')
    new_text[sentence] = len(words)

In [43]:
print(f'sentences num: {len(new_text)}')
print(f'total number of words {total_number_of_words}')

sentences num: 13
total number of words 0

In [61]:
INPUT = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, {'virginica'}),
    (5.1, 3.5, 1.4, 0.2, {'setosa'}),
    (5.7, 2.8, 4.1, 1.3, {'versicolor'}),
    (6.3, 2.9, 5.6, 1.8, {'virginica'}),
    (6.4, 3.2, 4.5, 1.5, {'versicolor'}),
    (4.7, 3.2, 1.3, 0.2, {'setosa'}),
    (7.0, 3.2, 4.7, 1.4, {'versicolor'}),
    (7.6, 3.0, 6.6, 2.1, {'virginica'}),
    (4.6, 3.1, 1.5, 0.2, {'setosa'}),
]

In [45]:
header = INPUT[0]

In [47]:
INPUT_WO_HEADER = INPUT[2:]

In [48]:
INPUT_WO_HEADER

[(5.1, 3.5, 1.4, 0.2, {'setosa'}),
 (5.7, 2.8, 4.1, 1.3, {'versicolor'}),
 (6.3, 2.9, 5.6, 1.8, {'virginica'}),
 (6.4, 3.2, 4.5, 1.5, {'versicolor'}),
 (4.7, 3.2, 1.3, 0.2, {'setosa'}),
 (7.0, 3.2, 4.7, 1.4, {'versicolor'}),
 (7.6, 3.0, 6.6, 2.1, {'virginica'}),
 (4.6, 3.1, 1.5, 0.2, {'setosa'})]

In [53]:
for row in INPUT[2:]:

5.1
3.5
1.4
0.2
{'setosa'}
5.7
2.8
4.1
1.3
{'versicolor'}
6.3
2.9
5.6
1.8
{'virginica'}
6.4
3.2
4.5
1.5
{'versicolor'}
4.7
3.2
1.3
0.2
{'setosa'}
7.0
3.2
4.7
1.4
{'versicolor'}
7.6
3.0
6.6
2.1
{'virginica'}
4.6
3.1
1.5
0.2
{'setosa'}

In [62]:
for *_,species in INPUT[2:]:
    spec = species.pop()
    if spec.endswith('ca') or spec.endswith('sa'):
        print(spec)

setosa
virginica
setosa
virginica
setosa

In [63]:
#unique keys
INPUT = [
    {'Sepal length': 5.1, 'Sepal width': 3.5, 'Species': 'setosa'},
    {'Petal length': 4.1, 'Petal width': 1.3, 'Species': 'versicolor'},
    {'Sepal length': 6.3, 'Petal width': 1.8, 'Species': 'virginica'},
    {'Sepal length': 5.0, 'Petal width': 0.2, 'Species': 'setosa'},
    {'Sepal width': 2.8, 'Petal length': 4.1, 'Species': 'versicolor'},
    {'Sepal width': 2.9, 'Petal width': 1.8, 'Species': 'virginica'},
]

In [78]:
my_set = set()
for dicts in INPUT:
    keys = dicts.keys()
    for key in keys:
        print(key)
        #my_set.update(str(key))

Sepal length
Sepal width
Species
Petal length
Petal width
Species
Sepal length
Petal width
Species
Sepal length
Petal width
Species
Sepal width
Petal length
Species
Sepal width
Petal width
Species

In [79]:
print(my_set)

set()

In [80]:
#zadanie kolejne

INPUT = {
    6: ['Doctorate', 'Prof-school'],
    5: ['Masters', 'Bachelor', 'Engineer'],
    4: ['HS-grad'],
    3: ['Junior High'],
    2: ['Primary School'],
    1: ['Kindergarten'],
}

In [93]:
new_dict = dict()
for key,value in INPUT.items():
    print(f'{key}')
    print(f'{value}')
    for val in value:
        #print(val)
        new_dict[val] = str(key)

6
['Doctorate', 'Prof-school']
5
['Masters', 'Bachelor', 'Engineer']
4
['HS-grad']
3
['Junior High']
2
['Primary School']
1
['Kindergarten']

In [94]:
new_dict

{'Doctorate': '6',
 'Prof-school': '6',
 'Masters': '5',
 'Bachelor': '5',
 'Engineer': '5',
 'HS-grad': '4',
 'Junior High': '3',
 'Primary School': '2',
 'Kindergarten': '1'}

In [97]:
INPUT = [
    ('Sepal length', 'Sepal width', 'Petal length', 'Petal width', 'Species'),
    (5.8, 2.7, 5.1, 1.9, 'virginica'),
    (5.1, 3.5, 1.4, 0.2, 'setosa'),
    (5.7, 2.8, 4.1, 1.3, 'versicolor'),
    (6.3, 2.9, 5.6, 1.8, 'virginica'),
    (6.4, 3.2, 4.5, 1.5, 'versicolor'),
    (4.7, 3.2, 1.3, 0.2, 'setosa'),
    (7.0, 3.2, 4.7, 1.4, 'versicolor'),
    (7.6, 3.0, 6.6, 2.1, 'virginica'),
    (4.9, 3.0, 1.4, 0.2, 'setosa'),
    (4.9, 2.5, 4.5, 1.7, 'virginica'),
    (7.1, 3.0, 5.9, 2.1, 'virginica'),
    (4.6, 3.4, 1.4, 0.3, 'setosa'),
    (5.4, 3.9, 1.7, 0.4, 'setosa'),
    (5.7, 2.8, 4.5, 1.3, 'versicolor'),
    (5.0, 3.6, 1.4, 0.3, 'setosa'),
    (5.5, 2.3, 4.0, 1.3, 'versicolor'),
    (6.5, 3.0, 5.8, 2.2, 'virginica'),
    (6.5, 2.8, 4.6, 1.5, 'versicolor'),
    (6.3, 3.3, 6.0, 2.5, 'virginica'),
    (6.9, 3.1, 4.9, 1.5, 'versicolor'),
    (4.6, 3.1, 1.5, 0.2, 'setosa'),
]

In [103]:
header,*data = INPUT
output = []
for row in data:
    output.append(dict(''))

(5.8, 2.7, 5.1, 1.9, 'virginica')
(5.1, 3.5, 1.4, 0.2, 'setosa')
(5.7, 2.8, 4.1, 1.3, 'versicolor')
(6.3, 2.9, 5.6, 1.8, 'virginica')
(6.4, 3.2, 4.5, 1.5, 'versicolor')
(4.7, 3.2, 1.3, 0.2, 'setosa')
(7.0, 3.2, 4.7, 1.4, 'versicolor')
(7.6, 3.0, 6.6, 2.1, 'virginica')
(4.9, 3.0, 1.4, 0.2, 'setosa')
(4.9, 2.5, 4.5, 1.7, 'virginica')
(7.1, 3.0, 5.9, 2.1, 'virginica')
(4.6, 3.4, 1.4, 0.3, 'setosa')
(5.4, 3.9, 1.7, 0.4, 'setosa')
(5.7, 2.8, 4.5, 1.3, 'versicolor')
(5.0, 3.6, 1.4, 0.3, 'setosa')
(5.5, 2.3, 4.0, 1.3, 'versicolor')
(6.5, 3.0, 5.8, 2.2, 'virginica')
(6.5, 2.8, 4.6, 1.5, 'versicolor')
(6.3, 3.3, 6.0, 2.5, 'virginica')
(6.9, 3.1, 4.9, 1.5, 'versicolor')
(4.6, 3.1, 1.5, 0.2, 'setosa')

In [104]:
testset = {'Sepal length': 5.1, 'Sepal width': 3.5, 'Species': 'setosa'}

In [110]:
for val in testset.items():
    print(val)

('Sepal length', 5.1)
('Sepal width', 3.5)
('Species', 'setosa')